body {
  font-size: 125%;
  line-height: 1.5;
}

nav,
nav ul {
  display: flex;
  flex-flow: row wrap;
}

nav {
  background: #9ba1df;
  color: #fff;
  padding: 1rem;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  
}

nav li {
  margin-right: 25px;
}

nav li a {
  color: yelllow;
  text-decoration: none;
}
#section-1 {
  margin: 0 1.5%;
}
section {
  padding: 1rem 3rem;
}

section:target {
  background: lightyellow;
}
